body {
  margin: 0;
  padding: 0;
}
#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 23.5px 115.5px 24.5px 115.5px;
}

#blue-button {
    background-color: #1d4ed8;
    color: #FFFFFF;
    padding: 12px 41.5px 12px 41.5px;
    border-radius: 10px;
    font-family: inter;
    font-weight: 700;
}

#nav-ul {
    list-style: none;
    display: flex ;
    gap: 24px;
}

.li-colour {
    color: #575757;
    font-family: arimo ;
}

.hero{
    background-image:
    linear-gradient(to right,
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.2)
    ),
     linear-gradient(to top,
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)
    ),
    url("images/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero{
    color: #FFFFFF;
    text-align: center ;
    align-content: center;
}
#main{
    font-family: inter;
    font-weight: 700;
    font-size: 80px;
    margin: 136px 252px 16px 340px;
}
#dsc{
    font-family: inter;
    font-weight: 400;
    font-size: 22px;
    margin: 0px 301px 0px 421px;
}
.hero-btn{
    margin: 278px 617px 230px 652px;
}
#mts {
    font-family: inter;
    font-size: 56px;
    text-align: center;
    margin: 80px;
}
.speakers-parent{
    display: grid;
    grid-template-columns: 644px 644px;
    justify-content: center;
    gap: 20px;
}
.atbr{
    color:#2563ebFF;
    padding: 12px 12px 0px 24px;
    font-family: inter;
    font-weight: 600;
}
.speaker-img{
    border-radius: 10px 10px 0px 0px;
}
.speaker{
    border: 1px solid #a7a7a7;
    border-radius: 10px;
}
.speaker-name{
    padding: 0px 12px 4px 24px;
    font-family: inter;
}
.speaker-texts{
    padding: 0px 12px 4px 24px;
    font-family: inter;
}
#scr-spt{
    font-family: inter;
    font-size: 56px;
    text-align: center;
    margin: 80px 0px 0px 0px;
}
#erly-brd{
    font-family: inter;
    color: #575757;
    text-align: center;
}
.pay{
    display: grid;
    grid-template-columns: 370px 370px 370px;
    justify-content: center;
    gap: 20px;
}
.pay-card{
    background: #f8f9fbFF;
    border: 1px solid #8d8d8d;
    border-radius: 10px;
    padding: 32px;
    height: 444px;
    font-family: inter;
}
.pay-card-mid{
    background-color: #0d1b2aFF;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 32px;
    height: 444px;
    font-family: inter;
}
.norm-btn{
    background: #f8f9fbFF;
    color: #050505;
    padding: 12px 41.5px 12px 41.5px;
    border-radius: 10px;
    font-family: inter;
    font-weight: 700;
}
.btn-btn{
    text-align: center;
    margin: 50px;
}